@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

html {
    background-color: #2c2c2c;
    color: #f5f5f4;
}

header {
    width: 95%;
    margin: auto;
    padding: 0 20px;
    border-radius: 15px;
}

main {
    width: 70%;
    height: 800px;
    border-radius: 5px;
    margin: auto;
    background-color: #f5f5f4;
    color: #222126;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,1);
}

nav {
    display: flex;
    margin: auto;
    padding: 25px 0;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-size: 35px;
    cursor: pointer;
    color: #f5f5f4;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}


nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #f5f5f4;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    'mainApp mainApp .. ..'
    'mainApp mainApp .. ..';
}

.gridShop {
    grid-area: mainApp;
    max-width: 400px;
}

.thickboi{
    min-width: 350px;
}

.card {
    margin: 30px 20px;
    padding: 20px;
    background-color: #2c2c2c;
    color: #e0bc6e;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
    border-radius: 15px;
    text-align: center;
}

.card h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: 30px;
}

.card p {
    font-family: 'Quicksand', sans-serif;
    color: #f5f5f4;
    margin: 30px 0;
    line-height: 23px;
    letter-spacing: 1.2px;
}